<!DOCTYPE html>
<html lang="lang="ar dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">  
    <title>Document</title>
</head>
<body>
        {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="flash-message">
          {{ messages[0] }}
        </div>
      {% endif %}
      
    {% endwith %}
    <div class="indexx">
        <ul><a href="{{url_for('to_login_admin')}}">تسجيل دخول لصفحه الادمن</a></ul>
        <ul><a href="{{url_for('to_code_user')}}">تسجيل دخول لكرت </a></ul>
        <ul><a href="{{url_for('Create_accunt')}}">انشاء حساب</a></ul>
    </div>
</body>
</html>